<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :user %>

  <div class="form-inputs">
  	<div class="row">
    	<% if @user.avatar? %>
      	<div class="avatar mr-2 ml-2">
          <img class="avatar-img img-fluid" src="<%= @user.avatar.url %>">
      	</div>
    	<% end %>

	    <%= f.file_field :avatar, class: "mb-3" %>
	  </div>

    <% if @user.farmer? %>
      <%= f.simple_fields_for(:farmers) do |u| %>
        <%= u.input :farm_name %>
      <% end %>
    <% end %>

    <div class="row">
    	<div class="col-md-4 mb-3">
        <%= f.input :first_name %>
    	</div>
    	<div class="col-md-4 mb-3">
        <%= f.input :middle_name %>	      		
    	</div>
    	<div class="col-md-4 mb-3">
        <%= f.input :last_name %>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-4 mb-3">
        <%= f.input :address_line_1 %>
    	</div>
    	<div class="col-md-4 mb-3">
        <%= f.input :address_line_2  %>
    	</div>
    	<div class="col-md-4 mb-3">
        <%= f.input :city %>
    	</div>
    </div>

    <%= f.input :parish %>
    <%= f.input :phone_number %>

  </div>

	<%= f.submit 'Update', class: "btn btn-primary" %>
	
<% end %>
