<p id="notice"><%= notice %></p>

<p>
  <strong>Farm name:</strong>
  <%= @farmer.farm_name %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @farmer.verification_status %>
</p>

<%= link_to 'Verify Farmer', verify_farmer_farmer_path(@farmer), :method => :patch %> |
<%= link_to 'Back', farmers_path %>
