<p id="notice"><%= notice %></p>

<p>
  <strong>Produce:</strong>
  <%= @line_item.produce_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <strong>Shoppingcart:</strong>
  <%= @line_item.shoppingcart_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
